/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */


/* GLOBAL STYLES */

body {
    background: yellow;     /* TEMP */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace
}

h1 {
    /* font-family: 'Kavivanar', cursive; */
    font-family: 'Rock Salt', cursive;
    font-size: calc( 12px + 3vmax);
    text-align: center;
    margin: 0 15px;
    padding-top: 30px;
}

a {
    text-decoration: none; 
}

.fullScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.pageSection {
padding-top: 10vh;
}

.sectionDescription,
.sectionTitle {
    padding-bottom: 50px;
}

.sectionDescription {
    font-size: 1.5vmax;
    line-height: 2vmax;
    text-align: center;
}

/* NAVIGATION BAR */

#top-spacer,
#nav-bar {
    min-height: 10vh;
    width: 100vw;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: yellow;
}

#icon-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#product-title {
    /* font-family: 'Kavivanar', cursive; */
    font-family: 'Rock Salt', cursive;
    font-size: 4vmin;
    white-space: nowrap;
}

#product-title a {
    color: black;
}

@media (max-width: 1200px) {
    #product-title {
        display: none;
    }
}

#header-img {
    min-height:33px;
    height: 6vmin;
    padding: 0 20px;
}

.nav-link {
    border: solid 2px black;
    /* border-radius: 10%; */
    /* Text in boxes has mystery default  2px of spacing @ bottom */
    padding: 5px 10px 3px 10px; 
    margin: 0 5px;
}

.nav-link:last-child {
    margin-right: 20px;
}

a.nav-link {
    background: black;
    color: yellow;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

a:hover.nav-link {
    color: black;
    background: yellow;  
}

/* SECTION 1 - INTRO */

#hutzlerPhoto {
    /* display: block; */
    max-width: 385px;
    min-width: 200px;
    width: 50vmax;
    padding-top: 50px;
}

#main-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* #mainStatement {
    margin: 0 15px;
} */

/* SECTION 2 - VIDEO */

/* see https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/ for article on responsive iframes */




/* #anim1,
#anim2,
#anim3,
#anim4,
#anim5,
#anim6,
#anim7,
#anim8 {
    display: none;
    animation: typewriter 1s linear 1s 1 normal forward;
}


/* SECTION 3 - FEATURES */

/* ul.banana {
    list-style-image: url('assets/images/banana_list.png');
    
} */

.banana li {
    font-size: calc(12px + 2vmax);
    line-height: calc(14 + 2.5vmax);
    padding-bottom: 1vmax;
    background: url("assets/images/banana_list.png") no-repeat left 10px;
    padding-left: 1em;
}



 #featureContainer {
     margin: 0 15px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; */
}


/* SECTION 4 - UPDATES */

form {
    width: 25%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
}

.inputContainer label {
    padding-right: 10px;
}

#submit {
    border: solid 2px black;
    /* border-radius: 10%; */
    /* Text in boxes has mystery default  2px of spacing @ bottom */
    margin: 0 5px;
    background-color: white;
    font-size: 1vmax;
}

#submit:hover {
    background: black;
    color: white;
}


/* @keyframes typewriter {
    0% {
        display: none;
    }
    100% {
        display: inline;
    }
} */
