/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

body {
    background: yellow;     /* TEMP */
    height: 200vh;          /* TEMP */
    box-sizing: border-box;
}


#top-spacer,
#nav-bar {
    min-height: 10vh;
    width: 100%;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;
}

#nav-links {

}

    /* nav ul li {
        padding: 0 5px;
    } */

#icon-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#product-title {
    font-family: 'Rock Salt', cursive;
    font-size: 4vmin;
}

@media (max-width: 600px) {
    #product-title {
        display: none;
    }
}

#header-img {
    height: 6vmin;
    padding: 0 20px;
}

.nav-link {
    border: solid 1px black;
    /* Text in boxes has mystery default  2px of spacing @ bottom */
    padding: 5px 10px 3px 10px; 
}

a {
    text-decoration: none;
    /* line-height: 20px;  same as parent container height */
    color: black;
    /* width: 100%; */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

a:hover {
    color: yellow;
    background: black;  
}
.nav-text {
    /* padding-top:2px; */
    /* display: inline-block; */
    /* padding: 0; */
    /* white-space: pre-wrap; */
    /* vertical-align: center; */
    /* padding-top: 5px; */
}

h1 {
        /* color: black;
        font-size: 20px; */
    padding-top: 30px;
}

.pageSection {
    padding-top: 10vh;
}
